.contractsRankCard{
    border-radius: 10px;
  	background: #eee;
    color: #202020;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contractsRankTable table{
    color: #101010;
    padding: 20px;
    width: 100%;
}

.valueContracts{
    text-align: right;
}

.valueTotal{
    text-align: right;
    width: 24%;
}

.headerContracts{
    text-align: right;
}

.headerTotal{
    text-align: right;
}

.cardTitle{
    text-align: center;
    font-size: 1.2em;
}

.loadingMessage{
    text-align: center;
}
