[Unit]
Description=uWSGI instance to serve BR Data Collector
After=network.target

[Service]
User=carlos
Group=www-data
WorkingDirectory=/home/carlos/Documents/Projects/govdata
Environment="PATH=/home/carlos/Documents/Projects/govdata/env/bin"
ExecStart=/home/carlos/Documents/Projects/govdata/env/bin/uwsgi --ini br_data_collector.ini

[Install]
WantedBy=multi-user.target
