.expensesBlock  {
    border-radius: 10px;
  	background: #282828;
  	width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
    color: #FFF;
}

.expensesTable{
    width: 90%;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.expensesTable th{
    font-size: 1.2em;
    padding: 10px;
}

.expensesTable table{
    width: 100%;
}

#idHead{
    text-align: left;
}

#nameHead{
    text-align: left;
}

#paidHead{
    text-align: right;
}

#shareHead{
    text-align: right;
}

.nameColumn{
    min-width: 400px;
}

.idColumn{
    min-width: 60px;
}

.valueColumn{
    min-width: 120px;
}

.expensesBlock h3{
    margin-top: -10px;
}

.shareColumn {
    min-width: 80px;
    text-align: right;
}

@media only screen 
and (max-width : 1080px){ 
    .expensesBlock  {
        margin-top: 60px;
        font-size: 14px;
    }

    .expensesTable tr {
        font-size: 20px;
    }
}
