.expensesChart{
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
}

.expensesChartHint{
    background-color: rgba(28,28,28,0.92);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
    color: #FFF;
}

.chartContainer{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 8px;
    padding: 10px;
}
