.expensesChart{
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
}

.expensesChartHint{
    border-radius: 8px;
    padding: 8px;
    color: #222;
    background: rgba(245,245,245,.40);
    backdrop-filter: blur(10px);
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.4em;
    width: 400px;
}

.chartContainer{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 8px;
    padding: 10px;
}

.chartInfo{
    color: #222;
    margin-left: 40px;
    font-size: 0.8em;
}

.rv-crosshair__line{
    background-color: rgba(20, 20, 20, 0.4);
    width: 2px;
}

.hintCircleColor {
    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    min-height: 14px;
    min-width: 14px;
    align-self: center;
  }

.hintSeparator {
    margin-left: 10px;
}

.hintLine{
    display: flex;
}
