#clickToExpand{
    margin-top: -20px;
    margin-bottom: 60px;
}

.contractsTableContainer{
    width: 90%;
}

.contractsTable{
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    border-radius: 8px;
    margin-bottom: 20px;
}

.contractsTable table{
    width: 100%;
    color: #000;
    padding-bottom: 20px;
    font-size: 1.2em;
}

.contractsTable table th{
    padding-bottom: 10px;
    padding-top: 10px;
}

.contractsNormalTR:hover{
    cursor: pointer;
    background-color: #CCC;
}

.contractsNormalTR{
    background-color: #FFF;
    height: 30px;
}

.expandedRow {
    width: 100%;
}

.moreInfo{
    border-radius: 10px;
    background-color: #EEE;
    color: #222;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.columnValor{
    text-align: end;
    width: 24%;
}

.columnLicitacao{
    width: 20%;
}

@media only screen 
and (max-width : 1080px){ 
    .contractsTable tr {
        font-size: 20px;
    }
}
