.Loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 100%;
}

.Loading p{
    font-size: 1.4em;
    align-self: center;
}

.Loading svg {
  width: 8.25em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
  align-self: center;

}

.Loading circle {
  fill: none;
  stroke: #009C3B;
  stroke-width: 4;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  align-self: center;

}

#heavyLoadMessage{
  width: 80%;
  align-self: center;
  text-align: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

@media only screen
and (max-width : 1080px){
  .Loading p{
    font-size: 2em;
    align-self: center;
  }
  #heavyLoadMessage{
    width: 80%;
    font-size: 2em;
    align-self: center;
    text-align: center;
  }
}