.tableDiv{
    width: 80%;
}

.tableDiv p{
    margin-top: 40px;
    font-size: 1.6em;
    width: 100%;
}

.rankTable{
    border-radius: 10px;
    padding: 20px;
    background-color: #FFF;
}

.rankTableContainer{
    border-radius: 10px;
    padding: 20px;
    background-color: #282828;
    margin-bottom: 60px;
}

.rankTableTitle{
    color: #FFF; 
    text-align: center;
    margin-bottom: 40px;
}

.rankTable table{
    width: 100%;
}

.value-column{
    text-align: right;
}

.rankTable tr:hover{
    background-color: #dddddd;
}   

.rankTable th{
    background-color: #222222;
    color: #ffffff;
}

@media only screen
and (max-width : 1080px){
    .tableDiv{
        width: 90%;
    }
}
