.rankPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitleRank p{
    font-size: 28px;
    width: 100%;
    text-align:center;
}

.pageTitleRank h2{
    width: 100%;
    font-size: 34px;
    margin-top: 60px;
    text-align:center;
}
