.data-summary{
	border-radius: 10px;
  	background: #ddd;
  	width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.dsNavBar{
    width: 10%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #202020;
	border-radius: 10px 0px 0px 10px;
}

.dsData{
    width: 90%;
    margin-left: 20px;
}

h2{
	font-size: 20pt;
	margin-bottom: 10px;
}

h3{
	font-size: 1.4em;
	margin-top: 40px;
}

#sectionLinksLabel{
    font-size: 1.2em;
    text-decoration: underline;
}

.sectionLink{
    text-decoration: underline;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 6px;
}

.sectionLink:hover{
    mouse-cursos: pointer;
    background-color: #ddd;
    color: #202020;
    transition: background-color 0.5s;
}

.listMonthsSelected{
    width: 100%;
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

#monthsSelectedLabel {
    font-size: 1.2em;
    text-decoration: underline;
}

.monthSelected{
    font-weight: normal;
    font-size: 1.0em;
    background-color: #bbb;
    margin-right: 8px;
    margin-top: -10px;;
    padding: 2px;
	border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

@media only screen
and (max-width : 1080px){
    .data-summary{
        margin-top: 40px;
    }

    .sectionLink{
        font-size: 1.8em;
    }
    
    .dataLinks{
        width: 100%;
        margin-top: 20px;
    }

    #monthSelectedLabel{
        font-size: 1.0em;
    }

    .monthsList{
        font-size: 14px;
    }

    .monthSelected{
        font-weight: normal;
        font-size: 1.4em;
        margin-top: 10px;
    }

    h2{
        font-size: 18px;
        margin-bottom: 20px;
    }

    h3{
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    p{
        font-size: 14px;
    }
}
