.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pureText{
    font-size: 16pt;
    padding-top: 20px;
    padding-left: 20px;
    width: 60%;
    text-align: center;
}

#what-to-search{
    font-weight: bold;
    margin-top: 60px;
}

#githubIcon{
    font-size: 36pt;
    margin: 20px;
    color: #282828;
}

#githubIcon:hover{
    font-size: 38pt;
    margin: 20px;
    cursor: pointer;
}

.reportLink{
    text-align: left;
    font-size: 0.6em;
}


@media only screen 
and (max-width : 1080px){
    .pureText{
        width: 90%;
    }
}
