.container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(40,40,40,1);
}

.aboutCard{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 80%;
    margin-top: 40px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 80px;
}

#aboutTitle{
    margin-bottom: 60px;
}

.pureText{
    font-size: 16pt;
    padding-top: 20px;
    padding-left: 20px;
    width: 60%;
    text-align: center;
}

#what-to-search{
    font-weight: bold;
    margin-top: 60px;
}

#githubIcon{
    font-size: 36pt;
    margin: 20px;
    color: #282828;
}

#githubIcon:hover{
    font-size: 38pt;
    margin: 20px;
    cursor: pointer;
}

.reportLink{
    text-align: left;
    font-size: 0.6em;
}


@media only screen 
and (max-width : 1080px){
    .pureText{
        width: 90%;
    }
}
