.summary-container{
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin-top: 20px;
}

.summary-container.data-summary{
    display: inline;
    margin-right: 10px;
}

.summary-separator{
    width: 2%;
}

.expensesContainer{
    width: 90%;
    margin-top: 10px;
}

.expensesContainer .expensesBlock{
    width: 100%;
    margin-right: 10px;
}

.expensesBlock h1{
    text-align: center;
}

.valueColumn{
    width: 28%;
    text-align: right;
}

#summary2{
    margin-left: 100px;
}

.contractsContainer{
    width: 90%;
}

.contractsContainer .contractsBlock{
    width: 100%;
}

@media only screen
and (max-width : 1600px){

    .summary-container{
        flex-direction: column;
        width: 90%;
    }
}
