.pureText{
    font-size: 16pt;
    padding-top: 100px;
    padding-left: 20px;
    width: 60%;
}

.pureText a{
    font-size: 30pt;
    margin: 20px;
    color: #282828;
}
.pureText a:hover{
    font-size: 32pt;
    margin: 20px;
    cursor: pointer;
}

