.expensesBlock  {
    border-radius: 10px;
  	background: #dddddd;
  	padding: 10px;
  	width: 100%;
	margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expensesBlock td{
    border: 1px solid black;
}

.expensesBlock th{
    border: 1px solid black;
}

.nameColumn{
    width: 600px;
}

.idColumn{
    width: 60px;
}