.header_light_mode{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgba(40,40,40,0.2);
    float: left;
}

.header_dark_mode{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgba(40,40,40,1);
    float: left;
}

.header_light_mode h1{
    color: #FFF;
    margin-left: 40px;
	width: 60%;
    align-self: center;
}

.header_dark_mode h1{
    color: #FFF;
    margin-left: 40px;
	width: 60%;
    align-self: center;
}

.header-btns{
	display: flex;
	flex-direction: row-reverse;
	position:absolute; right: 0;	
    float: right;	
    width: 40%;
	height: 80px;
	align-items: flex-start;
}

.header-btns button{
    min-width: 60px;
}

#all-data-btn{
	font-size: 20px;
	margin-left: 20px;
	margin-right: 10px;
	color: #202020;
	background-color: #8d8d8d;
	border-radius: 4px;
	border-width: 0px;
    height: 40px;
}

#all-data-btn:hover{
	background-color: #9d9d9d;
	cursor: pointer;
}

.page-btn{
	height: 60px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 0px;
	color: #202020;
	background-color: #DDD;
	border-radius: 4px;
	border-width: 0px;
	font-size: 30px;
    align-self: center;
}

.page-btn a{
	text-decoration: none;
	color: #222;
}

.page-btn:hover{
	background-color: #EEE;
}

#shareBtn{
	background-color: #42a5f5;
}

#shareBtn:hover{
	cursor: pointer;
	background-color: #46a9f9;
}

@media only screen 
and (max-width : 1080px){ 
    .header{
        height: 120px;
    }
    .header-btns{
        height: 120px;
    }
}
