.header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #333;
    float: left;
}

.header h1{
    color: #FFF;
    margin-left: 20px;
	width: 60%
}

.header-btns{
	display: flex;
	flex-direction: row-reverse;
	position:absolute; right: 0;	
    float: right;	
    width: 40%;
	height: 80px;
	align-items: flex-start;
}

.header-btns span{
    margin-top: 20px;
}

.header-btns button{
    margin-top: 20px;
}

#all-data-btn{
	font-size: 20px;
	margin-left: 20px;
	margin-right: 10px;
	color: #202020;
	background-color: #26c6da;
	border-radius: 4px;
	border-width: 0px;
    height: 40px;
}

#all-data-btn:hover{
	background-color: #2acadf;
	cursor: pointer;
}

.page-btn{
	height: 40px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	color: #202020;
	background-color: #DDD;
	border-radius: 4px;
	border-width: 0px;
	font-size: 20pt;
}

.page-btn a{
	text-decoration: none;
	color: #222;
}

.page-btn:hover{
	background-color: #EEE;
}

#shareBtn{
	background-color: #42a5f5;
}

#shareBtn:hover{
	cursor: pointer;
	background-color: #46a9f9;
}
