body, html {
    height: 100%;
}

.contentContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 2;
	display: flex;
	flex-direction: column;
    align-items: center;
}

#backgroundImage{
    min-height: 100%;
    min-width: 1024px;
	
    width: 100%;
    height: auto;
	
    position: fixed;
    top: 0;
    left: 0;
}

#search-btn{
	font-size: 24px;
	font-weight: bold;
	color: #202020;
	background-color: #1EB100;
	border-radius: 4px;
	border-width: 0px;
	height: 50px;
    margin-top: 30px;
    width: 40%;
    margin-bottom: 80px;
}

#search-btn:hover{
	background-color: #00CC00;
	cursor: pointer;
}

.month-picker table{
	margin-top: 40px;
	color: #FFF;
	text-align: left; 
}

.month-picker td{
	min-width: 100px;
}

.select-all{
	font-weight: bold;
}

.pageTitle{
    margin-top: 60px;
    color: #FFFFFF;
}

@media only screen 
and (max-width : 1080px){ 
    #backgroundImage{
        min-height: 100%;
        
        width: 100%;
        height: ;
        
        position: center;
        top: 0;
        left: 0;
    }

    .month-picker table{
        margin-top: 80px;
        color: #FFF;
        text-align: left; 
    }

    .month-picker {
        width: 80%;
    }
    
    .month-picker table{
        margin-left: auto;
    }

    .month-picker td{
        min-width: 200px;
        font-size: 38px;
        padding-bottom: 10px;
    }
    
    input[type=checkbox] {
        transform: scale(3);
    }
    
    #search-btn{
        font-size: 30px;
        width: 60%;
        height: 60px;
        margin-top: 80px;
    }
    
    .pageTitle{
        margin-top: 80px;
        font-size: 50px;
    }
}

