.rankPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rankTable{
    width: 80%;
    background-color: #dddddd;
    border: 1px solid black;
}

.rankTable table{
    width: 100%;
}

.rankTable th{
    background-color: #222222;
    color: #ffffff;
}