.SearchEntity {
    margin-top: 40px;
    width: 60%;
}

#search_1{
    z-index: 2;
}

#search_2{
    z-index: 1;
}

.SearchEntity input{
    font-size: 20px;
    height: 60px;
}

@media only screen 
and (max-width : 1080px){
    .SearchEntity input{
        font-size: 36px;
        height: 60px;
    }
}

