.monthPicker1 {
    margin-top: 20px;
}

.monthPicker1 select{
    font-size: 1.4em;
    border-width: 0px;
    border-bottom: 1px solid;
    height: 30px;
    background-color: #fff;
}

.monthPicker2 {
    margin-top: 20px;
}

.monthPicker2 select{
    font-size: 1.4em;
    border-width: 0px;
    border-bottom: 1px solid;
    height: 30px;
    background-color: #fff;
}

.monthPickerLabel {
    color: #202020;
    font-size: 1.2em;
}

.monthSelector {
    margin-top: 60px;
}

@media only screen 
and (max-width : 1080px){
    .monthPicker1 {
        margin-top: 20px;
    }

    .monthPicker1 select{
        font-size: 2.0em;
        border-radius: 6px;
        height: 40px;
        background-color: #fff;
    }
    
    .monthPicker1 option {
        font-size: 1.0em;
    }

    .monthPicker2 {
        margin-top: 20px;
    }

    .monthPicker2 select{
        font-size: 2.0em;
        border-radius: 6px;
        height: 40px;
        background-color: #fff;
    }
    
    .monthPicker2 option {
        font-size: 1.0em;
    }

    .monthPickerLabel {
        color: #202020;
        font-size: 1.8em;
        margin-top: 80px;
    }

    .monthSelector {
        margin-top: 60px;
    }
}
