.allBiddingsDetailsModal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.biddingsModalBody{
    height: auto;
    min-height: 300px;
    background-color: rgba(240,240,240,1);
    margin: 15% auto;
    margin-top: 180px;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    color: #202020;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.biddingsModalBody h1{
    margin-left: 20px;
    color: #282828;
}

.singleBiddingInfo{
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.downloadButton{
    position: relative;
    display: block;
    width: 240px;
    margin-left: 10px;
    background-color: #d0d0d0;
    border-radius: 8px;
    color: #111;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.downloadButton:hover{
    background-color: #d8d8d8;
}

.loadingBlock{
    margin-left: 20px;
}

.loadingBar{
    width: 90%;
    height: 10px;
    background-color: #888;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.loadingBarProgress{
    height: 10px;
    width: 0%;
    border-radius: 8px;
    background-color: rgba(0,150,0,1);
    transition: width 0.2s ease-in-out;
}


#closeButton{
    position: relative;
    top: -60px;
    right: -90%;
    font-size: 1.4em;
    border-radius: 4px;
    background-color: #ff3f3f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

#closeButton:hover{
    background-color: #ff5f5f;
    cursor: pointer;
}

#loadingMsg{
    font-size: 1.4em;
}

#loadingPercNum{
    font-size: 1.6em;
}

@media only screen
and (max-width : 1080px){
    #loadingMsg{
        font-size: 1.6em;
    }

    #loadingPerc{
        font-size: 2.8em;
    }

    h1{
        font-size: 2.8em;
    }

    #closeButton{
        position: relative;
        top: -80px;
        right: -84%;
        font-size: 2.2em;
        border-color: rgba(0,0,0,0);
        border-radius: 4px;
        background-color: #ff3f3f;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    }
    .biddingsModalBody{
        margin-top: 30%;
    }
}

